<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foreign Exchange Tracker</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">   
    <link rel="stylesheet" href="/static/css/style.css"> 
</head>
 
<body>
    <div class="container">
        <div class="header">
          <h1>Foreign Exchange Tracker</h1>
        </div>
        <div class="date"></div>
        <ul class="currencies"></ul>

        <ul class="subscriptions">
            <p>Daily Updates</p>
            <li class="subcurrency" id=JMD>
                <img src="http://www.geonames.org/flags/l/jm.gif" class="flag">
                <div class="info">
                  <p class="input"><span class="currency-symbol">&#36;</span><input placeholder="0.0000"></p>
                  <p class="currency-name">JMD - Jamaican Dollar</p>
                  <p class="base-currency-rate">1 USD = 150 JMD</p>
                </div>
                <span class="close">&times;</span>
              </li>
        </ul>

        <button class="add-currency-btn"><i class="fas fa-long-arrow-alt-left"></i>Add Currency</button>
        <ul class="add-currency-list"></ul>
    </div>

    <script src="/scripts/main.js"></script> 
</body>
 
</html>

 